#respuesta{
    visibility: visible;
    opacity: 100;
}
.correcto{
    color: green;
    visibility: visible;
    opacity: 1;
}
.incorrecto{
    color: red;
    visibility: visible;
    opacity: 1;
}